<h1>Aliases</h1>

<table class='dataTable table table-striped table-bordered'>
  <thead>
    <tr>
      <th>Alias</th>
      <th>Gene</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @aliases.each do |this_alias| %>
    <tr>
      <td><%= link_to this_alias.name, this_alias %></td>
      <td><%= link_to this_alias.transcription_factor.name, this_alias.transcription_factor %></td>
      <td><%= link_to 'Destroy', this_alias, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
<% end %>
  </tbody>
</table>
<br />
<%= link_to 'New Alias', new_alias_path %>
