<h1>Sources</h1>

<table class='dataTable table table-striped table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Number of Users</th>
    </tr>
  </thead>
  <tbody>
<% @sources.each do |source| %>
    <tr>
      <td><%= link_to source.name, source %></td>
      <td><%= source.description %></td>
      <td><%= source.users.nil? ? "0" : source.users.count.to_s %></td>
    </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Source', new_source_path %>
