<div class="control-group">
  <%= f.label :gene_name, :class => "control-label" %>
  <div class="controls">
    <%= autocomplete_field_tag 'Gene name', '', autocomplete_alias_name_aliases_path, :update_elements => { :transcription_factor_id => "#tf-id" }, :class => "search-query span2", :placeholder => "Search" %>
    <input type="hidden" id="tf-id" />
    <script type="text/javascript">
      <%= render :partial => "reagents/watch_tf_load_isoforms", :formats => [:js] %>
    </script>
  </div>
</div>
