<div class="control-group">
  <%= f.fields_for "reagent_attribute_attributes" do |builder| %>
  <%= builder.text_field :name, :class => "control-label", :placeholder => "Name" %>
  <% end %>
  <div class="controls">
    <%=  f.text_field :value, :placeholder => "Value" %>
  </div>
</div>