<h1>Reagent types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @reagent_types.each do |reagent_type| %>
  <tr>
    <td><%= link_to reagent_type.name, reagent_type %></td>
    <td><%= reagent_type.description %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reagent type', new_reagent_type_path %>
