<table id="isoform-list" class="display dataTable table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Flybase ID</th>
    </tr>
  </thead>
  <tbody>
  <% @transcription_factor.isoforms.each do |isoform| %>
      <tr>
        <td><%= link_to isoform.name, isoform %></td>
        <td>
          <% unless isoform.flybase_id.nil?
          <%= link_to isoform.flybase_id, 'http://flybase.org/reports/' + isoform.flybase_id + '.html', :target => '_blank' %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
