<h1>Isoforms</h1>
<table id="isoform-table" class="display dataTable table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Gene name</th>
    </tr>
  </thead>
  <tbody>
<% @isoforms.each do |isoform| %>
    <tr>
      <td><%= link_to isoform.name, isoform %></td>
      <td><%= isoform.description %></td>
      <td><%= isoform.transcription_factor.nil? ? "None" : link_to(isoform.transcription_factor.name, isoform.transcription_factor) %></td>
    </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Isoform', new_isoform_path %>
