<h1>Listing isoforms</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Gene</th>
  </tr>

<% @isoforms.each do |isoform| %>
  <tr>
    <td><%= link_to isoform.name, isoform %></td>
    <td><%= isoform.description %></td>
    <td><%= link_to isoform.transcription_factor.name, isoform.transcription_factor %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Isoform', new_isoform_path %>
