<h1>Attempt Values</h1>

<table class='dataTable table table-striped table-bordered'>
  <thead>
    <tr>
      <th>Attempt Date</th>
      <th>Attempt attribute</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
<% @attempt_values.each do |attempt_value| %>
    <tr>
      <td><%= link_to I18n.localize(attempt_value.attempt.created_at, :format => :short), attempt_value.attempt %></td>
      <td><%= attempt_value.attempt_attribute.nil? ? "None" : attempt_value.attempt_attribute.name %></td>
      <td><%= attempt_value.value %></td>
    </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Attempt value', new_attempt_value_path %>
