<% if reagent_attributes.nil? or reagent_attributes.empty? %>
  No reagent attributes found.
<% else %>
  <div class='form-horizontal'>
    <fieldset>
    <% reagent_attributes.each do |reagent_attribute| %>
      <div class="control-group">
        <%= label_tag "reagent[reagent_values_attributes][][reagent_attribute_id]", reagent_attribute.name, :class => "control-label" %>
        <div class="controls">
          <% if (@reagent.reagent_values.map{|value| value.reagent_attribute_id}).include? reagent_attribute.id %>
            <%= hidden_field_tag "reagent[reagent_values_attributes][][id]", (@reagent.reagent_values.select{|value| value.reagent_attribute_id == reagent_attribute.id}).first.id %>
          <% end %>
          <%=  hidden_field_tag "reagent[reagent_values_attributes][][reagent_attribute_id]", reagent_attribute.id %>
          <%=  text_field_tag "reagent[reagent_values_attributes][][value]", ((@reagent.reagent_values.map{|value| value.reagent_attribute_id}).include? reagent_attribute.id) ? @reagent.reagent_values.select{|value| value.reagent_attribute_id == reagent_attribute.id}.first.value : "" %>
        </div>
      </div>
      <% end %>
    </fieldset>
  </div>
<% end %>
