<h1>Batches</h1>

<table class='dataTable table table-striped table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th>User(s)</th>
      <th># Reagents</th>
    </tr>
  </thead>
  <tbody>
<% @reagent_groups.each do |reagent_group| %>
    <tr>
      <td><%= link_to reagent_group.name, reagent_group %></td>
      <td><%= raw(reagent_group.users.map{|user| link_to(user.name, user) }.join(", ")) %></td>
      <td><%= reagent_group.reagents.nil? ? "0" : reagent_group.reagents.count %></td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link_to 'New Reagent group', new_reagent_group_path %>
