<h1>Steps</h1>

<table class='dataTable table table-striped table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Pipeline</th>
    </tr>
  </thead>
  <tbody>
<% @steps.each do |step| %>
    <tr>
      <td><%= link_to step.name, step %></td>
      <td><%= step.description %></td>
      <td><%= step.pipeline.nil? ? "None" : link_to(step.pipeline.name, step.pipeline) %></td>
    </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Step', new_step_path %>
